@font-face {
  font-family: 'PapyrusRegular';
  font-weight: normal;
  font-style: normal;
  src: url('../Fonts/papyrus-webfont.eot');
  src: url('../Fonts/papyrus-webfont.eot?#iefix') format('embedded-opentype'),
       url('../Fonts/papyrus-webfont.ttf') format('truetype'),
       url('../Fonts/papyrus-webfont.svg#PapyrusRegular') format('svg')
}

* {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0
}

html {
  height: 100%;
  background: #333333;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
}

body {
  height: 100%;
  width: 100%;
  color: #BBBBBB;
  font-family: Calibri, Verdana, Arial, sans-serif;
  background: linear-gradient(top, rgba(0,0,0,1) 240px, rgba(0,0,0,0) 600px);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.row {
  display: table-row;
  height: 1px;
  min-width: 480px;
  max-width: 1080px
}

.table-cell {
  display: table-cell
}

.content{
  max-width: 1080px;
  margin: auto;
  padding: 48px 64px;
  color: #000000;
  background: #BBBBBB;
  text-align: left;
  cursor: default
}

.rounded-top {
  border-radius: 8px 8px 0 0
}

header {
  text-align: right; color: #000000; background: Orange;
  /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFF0000, endColorstr=#FFFFFF00)"; */
  background: -webkit-linear-gradient(top, #FF0000, #FFFF00);
  background: linear-gradient(top, #FF0000, #FFFF00);
  background: -webkit-radial-gradient(75% 90%, circle cover, #FFFFFF, #FFFF00 32px,  #FF3300 75%);
  background: radial-gradient(farthest-corner circle at 75% 90%, #FFFFFF, #FFFF00 64px, #FF3300 75%)
}

header h1, h4 {margin: 0 16px; font-family: PapyrusRegular; text-shadow: 0px 0px 8px #707070}
header img {display: block; height: 72px}
header a {width: 100%; color: #000000; text-decoration: none; -o-transition: color 0.25s ease; -ms-transition: color 0.25s ease; -webkit-transition: color 0.25s ease; transition: color 0.25s ease}
header a:hover {color: #FFFF00}

nav {background: #000000}

nav ul {
  list-style: none;
  margin-left: 0px;
  text-align: center;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 12px 0
}

nav ul li {
  width: 144px; display: inline-block; background: #777777;
  background: -webkit-linear-gradient(top, #333333, #777777 25%, #333333);
  background: -moz-linear-gradient(top, #333333, #777777 25%, #333333);
  background: -ms-linear-gradient(top, #333333, #777777 25%, #333333);
  background: linear-gradient(top, #333333, #777777 25%, #333333);
}

nav ul li:first-child {border-radius: 8px 0 0 8px}
nav ul li:last-child {border-radius: 0 8px 8px 0}

nav a:link {
  display: block;
  width: 100%;
  color: #CCCCCC;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.25s ease;
  text-shadow: 0px 0px 8px #000000
}

nav a:hover {color: #FF6600}

main {
  flex: 1
}

h1, h2, h3, h4, h5, h6, p, li { cursor: default }

ol, ul { padding: 4px; list-style: none }

dl {}

dt {
  color: #000000;
  font-weight: bold;
  background: #999999;
  margin-top: 12px;
  padding-left: 8px;
  border-radius: 4px 4px 0 0;
  cursor: help
}

dd {
  color: #000000;
  padding-left: 16px;
  background: #AAAAAA;
  margin-bottom: 8px;
  border-radius: 0 0 4px 4px;
  cursor: default
}

.contact-container {
  text-align: center
}

.ul-contact-box {
  width: 192px;
  padding: 0;
  margin: 16px;
  color: #FFFFFF;
  background: #7F7F7F;
  border-radius: 4px;
  display: inline-block
}

.ul-contact-box > li:first-child {
  background: #333333
}

p {
  padding: 24px;
  color: #000000;
  text-align: justify;
  font-weight: normal
}

footer {
  background: #BBBBBB
}

footer h4 {
  margin: 8px;
  text-align: center;
  font-family: PapyrusRegular
}

footer a {
  color: #1F1F1F;
  text-decoration: none;
  transition: color 0.25s ease
}

footer a:hover {
  color: #FF6600
}
